.overlay {
    position: fixed;
    inset: 0;
    background: rgba(255, 255, 255, 0);
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;
    pointer-events: none;
    transition: all 0.5s ease;
    transition-delay: 0.3s;
}

.overlay.active {
    background: rgba(255, 255, 255, 1);
    pointer-events: auto;
    transition-delay: 0s;
}


.modal {
    position: relative;
    width: 100vw;
    height: 100vh;
    max-height: 100vh;
    animation: fadeIn 0.3s ease-in-out;
    opacity: 0;
    transform: translateY(10%);
    transition: all 0.5s ease;
    transition-delay: 0s;
}
.overlay.active .modal{
    opacity: 1;
    transform: translateY(0%);
    transition-delay: 0.3s;
}

.closeBtn {
    position: absolute;
    top: 2.08vw;
    right: 8.33vw;
    border: none;
    cursor: pointer;
    z-index: 999;
    display: flex;
    width: 2.39vw;
    height: 2.39vw;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 0.41vw;
    background: #F2F2F2;
    svg{
        width: 1vw;
    }
    transition-duration: 0.3s;
}
.closeBtn:hover{
    background: #0c3c3a;
}
.closeBtn path{
    transition-duration: 0.3s;
}
.closeBtn:hover path{
    fill: #fff;
}

.header {
    text-align: center;
    padding: 1.5rem 0 0.5rem;
    position: relative;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 20vh;
    background: #fff;
}

.sku {
    color: var(--Green-Black, #0C1618);
    font-family: Raleway;
    font-size: 0.72vw;
    font-style: normal;
    font-weight: 500;
    line-height: 130%; /* 18.2px */
    opacity: 0.4;
    margin-bottom: 0.83vw;
}

.title {
    color: var(--Green-Black, #0C1618);
    text-align: center;
    -webkit-text-stroke-width: 0.4px;
    -webkit-text-stroke-color: var(--Green-Black, #0C1618);
    font-family: "Playfair Display";
    font-size: 1.66vw;
    font-style: normal;
    margin: 0 auto;
    width: 40%;
    font-weight: 400;
    line-height: 125%; /* 40px */
    letter-spacing: 0.64px;
    text-transform: uppercase;
}

.galleryLayout {
    display: flex;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.thumbnails {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 40px 0; /* щоб стрілки не перекривали */
}

.thumbnail {
    width: 100%;
    height: auto;
    cursor: pointer;
    opacity: 0.6;
    transition: opacity 0.2s;
}

.thumbnail:hover {
    opacity: 1;
}


.imageList {
    flex-grow: 1;
    margin: 0 auto;
    overflow-y: auto;
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
    gap: 0.625vw;
    max-width: 41.6vw;
    padding: 0;
    max-height: 80vh;
    height: 80vh;
}

.mainImage {
    max-width: 100%;
    height: 70vh;
}


.thumbnailsWrapper {
    position: absolute;
    left: 8.33vw;
    top: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 5vw;
    height: max-content;
}

.navUp,
.navDown {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.navUp {
    top: 0;
}

.navDown {
    bottom: 0;
}


.thumbnail.active {
    opacity: 1 !important;
    border: 2px solid black;
}
