.item {
  display: flex;
  gap: 0.8vw;
  background-color: #f9f9f9;
  padding: 2vw;

  .reviewerName {
    width: 10.4vw;
    max-width: 10.4vw;
      
    font-weight: 600;
    font-size: 1vw;
    line-height: 1.4vw;
  }

  .reviewerContent {
    p {
      margin-top: 0.93vw;
      font-weight: 500;
      font-size: 0.9vw;
      line-height: 1.3vw;
    }
    .flex{
      display: flex;
    }
  }

  .iamgeList {
    display: flex;
    gap: 0.6vw;
    margin-bottom: 0.8vw;

    li {
      width: 4.1vw;
    }
  }
}
