.section {
    max-width: 83.33vw;
    margin: 0 auto;
    margin-top: 2.08vw;
    margin-bottom: 8.33vw;
}
.heroBanner{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 17.70vw;
    margin: 0.83vw;
    border-radius: 0.83vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.categoryTitle{
    color: #FFF;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #FFF;
    font-family: "Playfair Display";
    font-size: 3.125vw;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 72px */
    letter-spacing: 0.09vw;
    text-align: center;
}
.grid {
    display: grid;
    gap: 1.25vw;
    grid-template-columns: repeat(2, minmax(300px, 1fr));
}

.card {
    border-radius: 1.25vw;
    background: #FBFBFB;
    padding: 2.08vw;
    display: flex;
    flex-direction: column;
    gap: 1.45vw;
}

.iconTitle {
    display: flex;
    align-items: center;
    gap: 0.83vw;
}

.iconTitle img {
    height: 1.55vw;
}

.card h3 {
    color: var(--Green-Black, #0C1618);
    font-size: 1.25vw;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 28.8px */
    letter-spacing: 0.72px;
}

.card p {
    color: var(--Green-Black, #0C1618);
    font-family: Raleway;
    font-size: 0.93vw;
    font-style: normal;
    font-weight: 500;
    line-height: 130%; /* 23.4px */
}



@media (max-width: 1024px) {
    .container {
        max-width: 91.46vw;
        margin: 0 auto;
        margin-top: 2.13vw;
    }

    .heroBanner {
        height: 54.4vw;
        margin: 4.26vw;
        border-radius: 2.13vw;
    }

    .categoryTitle {
        font-size: 8.53vw;
    }



    .section {
        margin: 0 auto;
        margin-top: 12.8vw;
        margin-bottom: 21.33vw;

        max-width: 91.46vw;

    }

    .grid {
        display: grid;
        gap: 4.26vw;
        grid-template-columns: repeat(1, minmax(30px, 1fr));
    }

    .card {
        border-radius: 6.4vw;
        background: #FBFBFB;
        padding: 4.26vw;
        gap: 7.46vw;
    }

    .iconTitle {
        display: flex;
        align-items: flex-start;
        gap: 4.26vw;
    }

    .iconTitle img {
        height: 5.33vw;
    }

    .card h3 {
        color: var(--Green-Black, #0C1618);
        font-size: 4.8vw;
        font-style: normal;
        font-weight: 600;
        line-height: 120%; /* 28.8px */
        letter-spacing: 0.72px;
    }

    .card p {
        font-size: 4.26vw;
    }
}

.card a{
    color: #0C1618 !important;
    border-bottom: 1px solid #0C1618 !important;
}